streamlit
PyPDF2
pandas
python-pptx
python-docx
requests
beautifulsoup4
langchain
langchain_google_genai
python-dotenv
pytube
youtube-transcript-api
yt-dlp
Pillow
pytesseract
easyocr
langdetect
google-cloud-translate
transformers
google.generativeai
langchain-community
faiss-cpu
transformers
